In [2]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn as sk
import kaggle
import kagglehub
from kagglehub import KaggleDatasetAdapter

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# Set the file path for the specific datafile
file_path = 'plant_health_data.csv'

# Import the dataset from kaggle
df = kagglehub.dataset_load(KaggleDatasetAdapter.PANDAS,'ziya07/plant-health-data', file_path)

In [4]:
# View the column names
print(df.columns)

Index(['Timestamp', 'Plant_ID', 'Soil_Moisture', 'Ambient_Temperature',
       'Soil_Temperature', 'Humidity', 'Light_Intensity', 'Soil_pH',
       'Nitrogen_Level', 'Phosphorus_Level', 'Potassium_Level',
       'Chlorophyll_Content', 'Electrochemical_Signal', 'Plant_Health_Status'],
      dtype='object')

In [5]:
# View the first five lines of the dataset
df.head()

,Timestamp,Plant_ID,Soil_Moisture,Ambient_Temperature,Soil_Temperature,Humidity,Light_Intensity,Soil_pH,Nitrogen_Level,Phosphorus_Level,Potassium_Level,Chlorophyll_Content,Electrochemical_Signal,Plant_Health_Status
0,2024-10-03 10:54:53.407995,1,27.521109,22.240245,21.900435,55.291904,556.172805,5.581955,10.003650,45.806852,39.076199,35.703006,0.941402,High Stress
1,2024-10-03 16:54:53.407995,1,14.835566,21.706763,18.680892,63.949181,596.136721,7.135705,30.712562,25.394393,17.944826,27.993296,0.164899,High Stress
2,2024-10-03 22:54:53.407995,1,17.086362,21.180946,15.392939,67.837956,591.124627,5.656852,29.337002,27.573892,35.706530,43.646308,1.081728,High Stress
3,2024-10-04 04:54:53.407995,1,15.336156,22.593302,22.778394,58.190811,241.412476,5.584523,16.966621,26.180705,26.257746,37.838095,1.186088,High Stress
4,2024-10-04 10:54:53.407995,1,39.822216,28.929001,18.100937,63.772036,444.493830,5.919707,10.944961,37.898907,37.654483,48.265812,1.609805,High Stress

In [6]:
# View the shape of the datasets
print(df.shape)

(1200, 14)

In [8]:
~~~~df.describe()

,Plant_ID,Soil_Moisture,Ambient_Temperature,Soil_Temperature,Humidity,Light_Intensity,Soil_pH,Nitrogen_Level,Phosphorus_Level,Potassium_Level,Chlorophyll_Content,Electrochemical_Signal
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
mean,5.500000,25.106918,23.999130,19.957794,54.853165,612.637265,6.524102,30.106751,30.264484,30.112088,34.749591,0.987764
std,2.873479,8.677725,3.441561,2.932073,8.784916,228.318853,0.581755,11.514396,11.466846,11.668085,8.766995,0.575116
min,1.000000,10.000724,18.001993,15.003710,40.028758,200.615482,5.507392,10.003650,10.017690,10.000606,20.025511,0.002376
25%,3.000000,17.131893,21.101766,17.353027,47.019694,416.878983,6.026042,20.249774,20.894445,19.585561,27.463350,0.487982
50%,5.500000,25.168333,23.889044,19.911473,54.692069,617.240221,6.540524,30.138590,30.019385,30.495054,34.433427,0.981647
75%,8.000000,32.370231,27.042634,22.596851,62.451053,811.474690,7.030039,40.184737,40.131459,40.108296,42.232637,1.473142
max,10.000000,39.993164,29.990886,24.995929,69.968871,999.856262,7.497823,49.951136,49.980700,49.981945,49.990811,1.996116

In [40]:
# Look at aggregated counts of stress levels by plant id

df.groupby(['Plant_ID', 'Plant_Health_Status']).agg(
    count = ('Plant_Health_Status', 'count')).reset_index()

    Plant_ID Plant_Health_Status  count
0          1             Healthy     24
1          1         High Stress     50
2          1     Moderate Stress     46
3          2             Healthy     36
4          2         High Stress     53
5          2     Moderate Stress     31
6          3             Healthy     39
7          3         High Stress     41
8          3     Moderate Stress     40
9          4             Healthy     28
10         4         High Stress     46
11         4     Moderate Stress     46
12         5             Healthy     29
13         5         High Stress     50
14         5     Moderate Stress     41
15         6             Healthy     29
16         6         High Stress     46
17         6     Moderate Stress     45
18         7             Healthy     30
19         7         High Stress     55
20         7     Moderate Stress     35
21         8             Healthy     28
22         8         High Stress     52
23         8     Moderate Stress     40
24         9             Healthy     28
25         9         High Stress     57
26         9     Moderate Stress     35
27        10             Healthy     28
28        10         High Stress     50
29        10     Moderate Stress     42