In [1]:
import pandas as pd
data = {'A': [1, 2], 'B': [3, 4]}
df = pd.DataFrame(data)
print(df.loc[1, 'B'])

4

In [2]:
x = input()
y = int(input())
print(x * y)

3
3
3
3
3
3

In [3]:
practice = {'python': 100, "r": 30, "SQL": 10}
for key, value in practice.items():
    print(key + " practice has " + str(value) + " items")

python practice has 100 items
r practice has 30 items
SQL practice has 10 items

In [4]:
fruits = ['apple', 'banana', 'cherry']
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

In [5]:
def multiply(a, b=2):
    return a * b

print(multiply(3))

6

In [6]:
x = "Python"
print(x[::-1])

nohtyP

In [7]:
import pandas as pd

data = {"Product": ["Apple", "Banana", "Apple", "Orange"], "Sales": [10, 15, 10, 20]}
df = pd.DataFrame(data)
result = df.groupby("Product")["Sales"].sum()
print(result)

Product
Apple     20
Banana    15
Orange    20
Name: Sales, dtype: int64

In [8]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df['A'] + df['B'])

0    5
1    7
2    9
dtype: int64

In [9]:
[1,0,1]+[2,4,6]

[1, 0, 1, 2, 4, 6]

In [14]:
def concatA(a,b):
    return a+b

print(concatA([9,2,1],[4,8,7]))

[9, 2, 1, 4, 8, 7]

In [15]:
x = int(input())
y = int(input())

print(x+y)

6

In [20]:
def is_odd(x):
    if x % 2 == 1: return True
    else: return False

print(is_odd(3))

True

In [24]:
fruits = {
 'apples':{'cost':3, 'units':100},
 'bananas':{'cost':1, 'units':80},
 'grapes':{'cost':5, 'units':500}
}
print(fruits['bananas']['cost'])

1

In [25]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [26]:
for index, i in enumerate([1,2,3,4,5]):
    print(index, i)

0 1
1 2
2 3
3 4
4 5

In [28]:
for c in 'final':
    print(c.upper())

F
I
N
A
L

In [29]:
x = 5
if x % 2 == 0:
   print("x is even")
else:
   print("x is odd")

x is odd